
*.ide
*.ide-shm
*.ide-wal
*.dll
*.xml
GroupDataStructures/.vs/GroupDataStructures/v15/Server/sqlite3/storage.ide-shm
GroupDataStructures/.vs/GroupDataStructures/v15/Server/sqlite3/storage.ide-wal
GroupDataStructures/GroupDataStructures/bin/GroupDataStructures.dll.config
GroupDataStructures/GroupDataStructures/bin/GroupDataStructures.pdb
GroupDataStructures/GroupDataStructures/bin/roslyn/csc.exe
GroupDataStructures/GroupDataStructures/bin/roslyn/csc.exe.config
GroupDataStructures/GroupDataStructures/bin/roslyn/csc.rsp
GroupDataStructures/GroupDataStructures/bin/roslyn/csi.exe
GroupDataStructures/GroupDataStructures/bin/roslyn/csi.exe.config
GroupDataStructures/GroupDataStructures/bin/roslyn/csi.rsp
GroupDataStructures/GroupDataStructures/bin/roslyn/Microsoft.CSharp.Core.targets
GroupDataStructures/GroupDataStructures/bin/roslyn/Microsoft.Managed.Core.targets
GroupDataStructures/GroupDataStructures/bin/roslyn/Microsoft.VisualBasic.Core.targets
GroupDataStructures/GroupDataStructures/bin/roslyn/vbc.exe
GroupDataStructures/GroupDataStructures/bin/roslyn/vbc.exe.config
GroupDataStructures/GroupDataStructures/bin/roslyn/vbc.rsp
GroupDataStructures/GroupDataStructures/bin/roslyn/VBCSCompiler.exe
GroupDataStructures/GroupDataStructures/bin/roslyn/VBCSCompiler.exe.config
GroupDataStructures/GroupDataStructures/obj/Debug/GroupDataStructures.csproj.CopyComplete
GroupDataStructures/GroupDataStructures/obj/Debug/GroupDataStructures.csproj.FileListAbsolute.txt
GroupDataStructures/GroupDataStructures/obj/Debug/GroupDataStructures.csprojResolveAssemblyReference.cache
GroupDataStructures/GroupDataStructures/obj/Debug/GroupDataStructures.pdb
